.blog-post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 16px;
    max-width: 60%;
    margin: auto;
    margin-bottom: 30px;
  }
  
  .blog-post-header {
    align-items: center;
    display: flex;
    margin-bottom: 16px;
  }
  
  .profile-image {
    border-radius: 50%;
    height: 50px;
    margin-right: 16px;
    width: 50px;
  }
  
  .blog-post-header-text {
    display: flex;
    flex-direction: column;
  }
  
  .blog-post-content {
    margin-bottom: 16px;
  }
  
  .post-image {
    border-radius: 8px;
    height: 300px;
    object-fit: cover;
    width: 100%;
  }
  
  .blog-post-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .post-footer-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 16px;
  }